@import url("righthand_floating_navigation_layout.css");

html {
  padding: 0;
  margin: 0;
}
body {
  color: #000;
  background: #fff;
  font-family: 'Libre Baskerville', 'Trebuchet MS', Verdana, Calibri, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4em; letter-spacing: .01em; word-spacing: 0.1em;
}

a {
  color: #0A6879;
}
a:visited {
  color: #325050;
}
a:hover, a:focus {
  color: #2e484c;
  text-decoration: underline;
}

blockquote {
  margin-left: 0;
  background-color: #98A8BF;
  color: #000;
  padding: 4px 12px;
  border: 0.1px solid #98A8BF;
  border-radius: 10px;
}
#introquote > p { font-size: 1.1rem; }
blockquote cite {
  color: #333;
  font-size: 0.95rem;
  display: block;
  margin-top: 0.5rem;
}
blockquote cite:before {
  content: "\2014 \2009";
}

header, div.header {
  padding: 0;
  background: #5583B5 50% 0 url('./StuttgartBib.jpg') repeat-x; /* old IE fallback */
  background-position: left;
  text-align: left;
  /* @@TODO create higher header background image 
    + height & width of the image:
    + height: @@@px; width: 1521px; max-width: 75%
  */
}

h1 {
  padding: 20px 0 0 20px;
  margin: 0 0 0 0;
  color: #fff;
  background-color: transparent;
  font-weight: normal;
  line-height: 1.35em; /* CS: added to prevent overlapping text on browser zoom */

  font-family: 'Julius Sans One', 'Trebuchet MS', Verdana, sans-serif;

  height: 113px; /* height of #header minus h1's top padding */
}

h1 { font-size: 2.5em; }
#home h1 { font-size: 3em; letter-spacing: 1.3px; }

h1 .h1txt {
  background: rgba(0, 0, 0, 0.5);
  padding: 4px;
}


nav {
  background-color: #2e484c;
  color: inherit;
}

nav h2 {
  background-color: transparent;
  color: white;
  margin-bottom: 6px;
}

nav > ul {
  color: #41409A;
  background-color: transparent;
}

nav > ul > li {
  color: inherit;
  background-color: transparent; 
}

nav > ul > li > ul {
  color: inherit;
  background-color: transparent;
}

nav > ul > li.active a, nav > ul > li > ul > li.active a {
  border-left: 10px solid red;
}

nav a:link,
nav a:visited, 
nav a:hover, nav a:focus,
nav a:active {
  font-size: 1em;
  text-decoration: none;
  padding-left: 2px;
}

nav a:link,
nav a:visited {
  border-top: /*none;*/ 1px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: /*none;*/ 1px solid transparent;
  border-left: 10px solid transparent;
  background-color: #98A8BF;
  color: black;
}

nav a:hover, nav a:focus,
nav a:active {
  border-top: /*none;*/ 1px solid red;
  border-right: 10px solid red;
  border-bottom: /*none;*/ 1px solid red;
  border-left: 10px solid red;
}

a:link, a:visited {
  background-color: transparent;
  color: #052452;
}


h2 {
  color: #2e484c;
  font-family: 'Julius Sans One', 'Trebuchet MS', Verdana, sans-serif;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.3em;
}

p {
  margin: 0.75em 0;
  line-height: 1.3;
}

table {
  border-collapse: collapse;
  margin-bottom: 12pt;
}
th, td {
  border: 1px solid gray;
  padding: 4px;
}

kbd {
  font-family: 'Consolas', 'Andale Mono', Courier, 'Lucida Sans Unicode', monospace;
  background-color: black;
  color: #00FF00;
  padding-left: 4px; padding-right: 4px;
}

pre code strong {
  color: red;
  background-color: transparent;
  font-weight: bolder;
}

footer, div.footer {
  border: 1px solid #51739C;
  border-left: 20px solid #51739C;
  padding-left: 10px;
}

#home section {
  width: 46%;
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 10px;
}
div.other {
  width: 100%;
  clear: left;
}

i.website { font-style: normal; }

hr {
  color: #51739C;
}

body#error404 > * { transform:rotate(-180deg); }

/* @@tabelle gestaltgesetze #e7feff #add8e6 #e0ffff #f8f8ff*/
/*table#distro-table tbody tr:nth-child(2n+1) { color: inherit; background-color: #fff5ee; }*/
/*#faebd7 and #800000: colour contrast 9.35:1 */
/*table#distro-table tbody tr:hover { color: #800000; background-color: #faebd7; }*/

